// SETUP
@import "setup/variables.scss";
@import "setup/functions.scss";
@import "setup/mixin.scss";
@import "setup/typography";

// BASICS
@import "basics/helpers.scss";
@import "basics/layout.scss";
@import "basics/base.scss";
@import "basics/font-awesome.scss";

// PAGES
@import "pages/home-page.scss";

//CMPS
@import "cmps/app-header.scss";
@import "cmps/main-container.scss";
@import "cmps/nav-bar.scss";
@import "cmps/music_player.scss";
@import "cmps/song-list.scss";
@import "cmps/song-preview.scss";
@import "cmps/station-list.scss";
@import "cmps/station-preview.scss";
@import "cmps/tag-list.scss";
@import "cmps/tag-preview.scss";
@import "cmps/search-bar.scss";
@import "cmps/svg-loader.scss";
