// SETUP
@import 'setup/variables.scss';
@import 'setup/functions.scss';
@import 'setup/mixin.scss';
@import 'setup/typography';

// BASICS
<<<<<<< HEAD
@import 'basics/helpers.scss';
@import 'basics/layout.scss';
@import 'basics/base.scss';
@import 'basics/font-awesome.scss';

// COMPONENETS
@import '../components/music_player.scss';
=======
@import "basics/helpers.scss";
@import "basics/layout.scss";
@import "basics/base.scss";
@import "basics/font-awesome.scss";

// PAGES
@import "pages/home-page.scss";

//CMPS
@import "cmps/app-header.scss";
@import "cmps/main-container.scss";
@import "cmps/nav-bar.scss";
@import "cmps/nav-bar-options.scss";
>>>>>>> 21420bc54d6843dee32b29e2fac48ce52ea9cca2
