// SETUP
@import "setup/variables.scss";
@import "setup/functions.scss";
@import "setup/mixin.scss";
@import "setup/typography";

// BASICS
@import "basics/helpers.scss";
@import "basics/layout.scss";
@import "basics/base.scss";
@import "basics/font-awesome.scss";

// PAGES
@import "pages/welcome-page.scss";
@import "pages/login-signup-page.scss";
@import "pages/home-page.scss";
@import "pages/library-page.scss";
@import "pages/create-playlist.scss";
@import "pages/friends.scss";
@import "pages/station-details.scss";

//CMPS
@import "cmps/app-header.scss";
@import "cmps/main-container.scss";
@import "cmps/nav-bar.scss";
@import "cmps/music_player.scss";
@import "cmps/song-list.scss";
@import "cmps/song-preview.scss";
@import "cmps/station-list.scss";
@import "cmps/station-preview.scss";
@import "cmps/tag-list.scss";
@import "cmps/tag-preview.scss";
@import "cmps/search-bar.scss";
@import "cmps/suggested-list.scss";
@import "cmps/suggested-preview.scss";
@import "cmps/station-actions.scss";
@import "cmps/song-search.scss";
@import "cmps/bar-wave.scss";
@import "cmps/loader-dots.scss";
@import "cmps/searched-list.scss";
@import "cmps/searched-preview.scss";
@import "cmps/svg-loader.scss";
@import "cmps/user.scss";
@import "cmps/station-hero.scss";
@import "cmps/liked-songs.scss";
@import "cmps/library-list.scss";
@import "cmps/edit-station-hero";
@import "cmps/activity-log";
@import "cmps/user-preview";
@import "cmps/user-msg";
@import "cmps/color-picker";
