.activity-log {
  .activity-container {
    counter-reset: index;
    padding: 0;
    max-width: 180px;
  }

  .activity-item {
    margin: 0;
    letter-spacing: 0;
    counter-increment: index;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    &:hover {
      background-color: #282828;
      border-radius: 4px;
      box-shadow: 0 0 0 0;
      color:#7e8075
    }
  }

  li + li {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

  .activity-user {
    color: $clr1;
  }

  .activity-type {
    color: #fff
  }
}
