:root {
  --minimumColumnWidth: 180px;
}

.library-list {
  grid-gap: 24px;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--minimumColumnWidth), 1fr)
  );
  padding: 30px;

  .card {
    -webkit-box-flex: 1;
    background: #181818;
    border-radius: 4px;
    -ms-flex: 1;
    flex: 1;
    isolation: isolate;
    padding: 16px;
    position: relative;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    width: 100%;
    height: 250px;

    // .card-img {
    // }

    &:hover {
      cursor: pointer;
      background: #282828;
    }

    .card-img {
      width: 100%;
      height: 70%;
      position: relative;

      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .liked-songs {
    color: #fff;
    font-size: 16px;
    grid-column: span 2;
    height: inherit;
    line-height: 24px;
    background: linear-gradient(149.46deg, #450af5, #8e8ee5 99.16%);

    &:hover {
      background: linear-gradient(149.46deg, #5d2af5, #a4a4eb 99.16%);
    }
  }
}
