.nav-bar-container {
  z-index: 1;
  justify-content: space-around;
  padding-top: 5px;
  align-items: center;
  position: absolute;
  width: 85vw;
  top: 0;
  background: linear-gradient(#28332a, rgba(0, 0, 0, 1));
  height: 64px;
  color: gainsboro;

  .nav-option-options {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
    width: 60px;
    border-radius: 12px;
    transition: all 300ms ease-in-out;
  }

  .nav-option-options:hover {
    cursor: pointer;
    height: 80%;
    // width: 70px;
    background-color: rgba(230, 214, 238, 0.226);
    color: white;
  }
}
