.music-player-container {
  position: fixed;
  z-index: 50;
  display: flex;
  align-items: center;
  border-top: 1px solid rgb(59, 59, 59);
  justify-content: space-between;
  bottom: 0;
  height: 12vh;
  width: 100vw;
  background-color: #1d1a1a;
  padding: 0 16px;
  color: rgb(172, 172, 172);
  fill: rgb(172, 172, 172);
  padding: 45px;

  @include for-mobile-layout {
    background-color: $clr8;
    bottom: 78px;
    // display: grid;
    align-content: center;
    padding: 0px;
    margin: -1px;

    // grid-template-columns: repeat(5, 1fr);
    // grid-template-rows: repeat(2, 1fr);
  }

  svg {
    transition: fill 300ms ease-in-out;

    // &:hover {
    //   fill: white;
    // }
  }

  button {
    background: transparent;
    border: none;
    width: 32px;
    height: 32px;
    &.play-pause {
      background: rgb(253, 253, 253);
      border-radius: 50px;
      fill: #1d1a1a;

      .svg-play,
      .svg-pause {
        height: 20px;
        width: 20px;
        margin-top: 2.5px;
      }
    }

    @include for-mobile-layout {
      .unliked {
        display: none;
      }
    }
  }

  .left-side-container {
    display: flex;
    width: 22vw;
    align-items: center;
    // justify-content: space-between;
    // color: rgb(172, 172, 172);

    .p-container {
      // display: flex;
      // align-items: flex-start;
      // justify-content: start;
      // flex-direction: column-reverse;
      max-height: 75px;
      max-width: 165px;
      font-size: 14px;
      section {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      @include for-mobile-layout {
        // grid-area: 1/2/1/3;
        flex-basis: 70%;
        margin-left: 33px;

        .song-img {
          margin-left: 15px;
        }
      }
    }

    img {
      margin-right: 15px;
      width: 75px;
      height: 65px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      @include for-mobile-layout {
        // grid-area: 1/1/1/2;
        margin-left: 20px;

        margin-right: 8px;
        margin-top: 6px;

        margin-left: -23px;
        margin-bottom: 1px;
      }
    }

    .svg-love,
    .svg-mini-img {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

.middle-player-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include for-mobile-layout {
    flex-direction: column;
  }

  .middle-controls-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;

    @include for-mobile-layout {
      width: 94vw;
      flex-basis: 30%;
      margin-bottom: -16px;
    }
  }

  .middle-play-pause-controls {
    margin-left: 5px;
    margin-right: 5px;

    @include for-mobile-layout {
      // grid-area: 1/5/1/6;
    }
  }
  .middle-left-controls,
  .middle-right-controls {
    margin-left: 5px;
    margin-right: 5px;

    @include for-mobile-layout {
      display: none;
    }
  }

  .svg-again {
    margin-left: 5px;

    @include for-mobile-layout {
      display: none;
    }
  }

  .svg-shuffle {
    margin-right: 5px;

    @include for-mobile-layout {
      display: none;
    }
  }

  .duration-progress-container {
    align-items: center;
    display: flex;
    gap: 50px;
    justify-content: center;
    // justify-content: space-between;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: 200;
    width: 70%;

    time {
      font-family: circular;
      font-size: 13px;

      @include for-mobile-layout {
        display: none;
      }
    }

    input {
      width: 30vw;
      height: 4px;

      &:hover {
        cursor: pointer;
      }
    }
  }
  .duration-slider {
    color: $clr1;
    width: 70%;

    @include for-mobile-layout {
      // grid-area: 2/1/2/6;
      flex-basis: 61%;
    }
    // padding: 0 50px;
  }
}

.right-side-container {
  width: 25vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .volume-container {
    display: flex;
    align-items: center;
    input {
      height: 4px;
      width: 15vh;
    }
  }

  .volumn-slider {
    color: $clr1;
    width: 50%;
  }
  @include for-mobile-layout {
    display: none;
  }
}

// RONA TRIED MOBILE FIRST -RESPONS

// .music-player-container {
//   position: fixed;
//   z-index: 50;
//   display: flex;
//   align-items: center;
//   border-top: 1px solid rgb(59, 59, 59);
//   justify-content: space-between;
//   // bottom: 0;
//   bottom: 100px;
//   height: 12vh;
//   width: 100vw;
//   background-color: #1d1a1a;
//   padding: 0 16px;
//   color: rgb(172, 172, 172);
//   fill: rgb(172, 172, 172);
//   padding: 45px;

//   .hide-to-moblie {
//     display: none;
//   }

//   @include for-wide-layout {
//     position: fixed;
//     z-index: 50;
//     display: flex;
//     align-items: center;
//     border-top: 1px solid rgb(59, 59, 59);
//     justify-content: space-between;
//     bottom: 0;
//     height: 12vh;
//     width: 100vw;
//     background-color: #1d1a1a;
//     padding: 0 16px;
//     color: rgb(172, 172, 172);
//     fill: rgb(172, 172, 172);
//     padding: 45px;

//     .hide-to-moblie {
//       display: inline-block;
//     }

//     .right-side-container {
//       display: flex;
//     }
//   }

//   svg {
//     transition: fill 300ms ease-in-out;
//   }

//   button {
//     background: transparent;
//     border: none;
//     width: 32px;
//     height: 32px;
//     &.play-pause {
//       background: rgb(253, 253, 253);
//       border-radius: 50px;
//       fill: #1d1a1a;

//       .svg-play,
//       .svg-pause {
//         height: 20px;
//         width: 20px;
//         margin-top: 2.5px;
//       }
//     }
//   }

//   .left-side-container {
//     display: flex;
//     width: 25vw;
//     align-items: center;

//     .p-container {
//       overflow: hidden;
//       height: 50px;
//       font-size: 14px;
//       section {
//         display: flex;
//         justify-content: flex-start;
//         align-items: center;
//       }
//     }

//     img {
//       margin-right: 15px;
//       width: 75px;
//       height: 65px;
//       background-position: center;
//       background-size: cover;
//       background-repeat: no-repeat;
//     }

//     .svg-love,
//     .svg-mini-img {
//       margin-left: 5px;
//       margin-right: 5px;
//     }
//   }
// }

// .middle-player-container {
//   // display: flex;
//   // flex-direction: column;
//   // justify-content: center;
//   // align-items: center;

//   .middle-controls-container {
//     // display: flex;
//     // align-items: center;
//     // justify-content: center;
//     // width: 50vw;

//     @include for-wide-layout {
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       width: 50vw;
//     }
//   }

//   .middle-left-controls,
//   .middle-right-controls,
//   .middle-play-pause-controls {
//     margin-left: 5px;
//     margin-right: 5px;
//   }

//   @include for-wide-layout {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//   }

//   .svg-again {
//     margin-left: 5px;
//   }

//   .svg-shuffle {
//     margin-right: 5px;
//   }

//   .duration-progress-container {
//     align-items: center;
//     display: flex;
//     gap: 50px;
//     justify-content: center;
//     // justify-content: space-between;
//     font-family: 'Times New Roman', Times, serif;
//     font-size: 12px;
//     font-weight: 200;
//     width: 70%;

//     time {
//       font-family: circular;
//       font-size: 13px;
//     }

//     input {
//       width: 30vw;
//       height: 4px;

//       &:hover {
//         cursor: pointer;
//       }
//     }
//   }
//   .duration-slider {
//     color: $clr1;
//     width: 70%;
//     // padding: 0 50px;
//   }
// }

// .right-side-container {
//   width: 25vw;
//   display: flex;
//   justify-content: flex-end;
//   align-items: center;

//   @include for-wide-layout {
//     display: flex;
//   }

//   .volume-container {
//     display: flex;
//     align-items: center;
//     input {
//       height: 4px;
//       width: 15vh;
//     }
//   }

//   .volumn-slider {
//     color: $clr1;
//     width: 50%;
//   }
// }
