.player-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1a1a1a;
  color: white;
  bottom: 0;
  position: absolute;
  width: 100vw;

  .player-tools {
    display: flex;

    button {
      border: none;
      background-color: #1a1a1a;
      color: white;
    }
  }

  .prev-next {
    background-color: none;
    border: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      color: #71db77;
    }
  }

  .play-pause {
    background-color: none;
    border: none;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      color: #71db77;
    }
  }

  .play {
    position: relative;
    left: 5px;
  }

  .progress-bar {
    // --bar-bg: rgb(206, 206, 206);
    // --seek-before-width: 100px;
    // --seek-before-color: rgba(82, 80, 80, 0.829);
    // --knobby: rgba(82, 80, 80, 0.829);
    // --selectedKnobby: rgb(148, 148, 148);

    // appearance: none;
    // background: var(--bar-bg);
    // border-radius: 10px;
    // position: relative;
    // // width: 100%;
    // height: 11px;
    // outline: none;

    // &::-moz-focus-outer {
    //   border: 0;
    // }

    // &::before {
    //   content: '';
    //   height: 11px;
    //   width: var(--seek-before-width);
    //   background-color: var(--seek-before-color);
    //   border-top-left-radius: 10px;
    //   border-bottom-left-radius: 10px;
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   z-index: 2;
    //   cursor: pointer;
    // }

    // /*knobby*/
    // &::-webkit-slider-thumb {
    //   -webkit-appearance: none;
    //   height: 15px;
    //   width: 15px;
    //   border-radius: 50%;
    //   border: none;
    //   background-color: var(--knobby);
    //   cursor: pointer;
    //   position: relative;
    //   margin: -2px 0 0 0;
    //   z-index: 3;
    //   box-sizing: border-box;
    // }

    // /*knobby while dragging*/
    // &:active::-webkit-slider-thumb {
    //   transform: scale(1.2);
    //   background: var(--selectedKnobby);
    // }
  }
}
