.player-container {
  border-top: 1px solid rgb(59, 59, 59);
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: #1d1a1a;
  padding: 20px;
}

.player-info-container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 0.3;
  // border: 1px solid red;

  img {
    margin-right: 15px;
    width: 65px;
    height: 65px;
  }

  i {
    margin-right: 15px;
    color: white;
  }

  p {
    color: white;
    font-size: 14px;
    font-weight: 500;
    font-family: monospace;
  }
}

.player-tools {
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  flex: 0.4;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
  padding: 0 100px;
  color: white;

  input.progress-bar {
    margin-left: 10px;
    margin-right: 10px;
    height: 10px;
  }

  input[type="range"] {
    overflow: hidden;
    width: 300px;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
  }
}

.play-pause {
  margin-left: 10px;
  margin-right: 10px;
}

.play-pause,
.prev-next {
  font-size: 20px;
  background: transparent;
  border: unset;
  color: white;
  transition: color 0.4s;
}
.play-pause,
.prev-next:hover {
  // color: #99c7a7;
  cursor: pointer;
}

.volume-container {
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 1px solid red;
  flex: 0.3;
}

.volume {
  color: white;
}

.duration-progress-container {
  display: flex;
  align-items: center;

  time {
    font-size: 12px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    margin-left: 10px;
    overflow: hidden;
    width: 125px;
    -webkit-appearance: none;
    background-color: #99c7a7;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: pointer;
    background: #003503;
    box-shadow: -80px 0 0 80px #51ff5a;
  }
}
