.music-player-container {
  // position: fixed;
  // z-index: 50;
  // display: flex;
  // align-items: center;
  // border-top: 1px solid rgb(59, 59, 59);
  // justify-content: space-between;
  // bottom: 0;
  // height: 12vh;
  // width: 100vw;
  // background-color: #1d1a1a;
  // padding: 0 16px;
  // color: rgb(172, 172, 172);
  // fill: rgb(172, 172, 172);
  // padding: 45px;
  display: none;

  @include for-wide-layout {
    position: fixed;
    z-index: 50;
    display: flex;
    align-items: center;
    border-top: 1px solid rgb(59, 59, 59);
    justify-content: space-between;
    bottom: 0;
    height: 12vh;
    width: 100vw;
    background-color: #1d1a1a;
    padding: 0 16px;
    color: rgb(172, 172, 172);
    fill: rgb(172, 172, 172);
    padding: 45px;
  }

  svg {
    transition: fill 300ms ease-in-out;

    &:hover {
      fill: white;
    }
  }

  button {
    background: transparent;
    border: none;
    width: 32px;
    height: 32px;
    &.play-pause {
      background: rgb(253, 253, 253);
      border-radius: 50px;
      fill: #1d1a1a;

      .svg-play,
      .svg-pause {
        height: 20px;
        width: 20px;
      }
    }
  }

  .left-side-container {
    display: flex;
    width: 25vw;
    align-items: center;

    .p-container {
      overflow: hidden;
      height: 50px;
      font-size: 14px;
      section {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
    }

    img {
      margin-right: 15px;
      width: 75px;
      height: 65px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .svg-love,
    .svg-mini-img {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

.middle-player-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .middle-controls-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
  }

  .middle-left-controls,
  .middle-right-controls,
  .middle-play-pause-controls {
    margin-left: 5px;
    margin-right: 5px;
  }

  .svg-again {
    margin-left: 5px;
  }

  .svg-shuffle {
    margin-right: 5px;
  }

  .duration-progress-container {
    align-items: center;
    display: flex;
    gap: 50px;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: 200;
    width: 70%;

    input {
      width: 30vw;
      height: 4px;

      &:hover {
        cursor: pointer;
      }
    }
  }
  .duration-slider {
    color: $clr1;
    width: 50%;
  }
}

.right-side-container {
  width: 25vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .volume-container {
    display: flex;
    align-items: center;
    input {
      height: 4px;
      width: 15vh;
    }
  }

  .volumn-slider {
    color: $clr1;
    width: 50%;
  }
}
