.music-player-container {
  position: fixed;
  z-index: 50;
  display: flex;
  align-items: center;
  border-top: 1px solid rgb(59, 59, 59);
  justify-content: space-between;
  bottom: 0;
  height: 12vh;
  width: 100vw;
  background-color: #1d1a1a;
  padding: 0 16px;
  color: rgb(172, 172, 172);
  fill: rgb(172, 172, 172);
  padding: 45px;

  // @include for-narrow-layout {
  //   padding: 0;
  // }

  @include for-mobile-layout {
    background-color: $clr8;
    bottom: 66px;
    justify-content: unset;
    padding: 0px;
    margin: 0px;
    width: 100vw;
    background: rgb(47, 42, 51);
    background: linear-gradient(
      90deg,
      rgba(43, 44, 43, 0.9) 0%,
      rgba(56, 58, 56, 0.9) 70%,
      rgba(79, 80, 79, 0.9) 100%
    );
    margin: auto;
    border-radius: 5px;
    border-top: 1px solid rgba(192, 192, 192, 0.699);
    border-bottom: 1px solid rgba(192, 192, 192, 0.699);
  }

  svg {
    transition: fill 300ms ease-in-out;

    // &:hover {
    //   fill: white;
    // }
  }

  button {
    background: transparent;
    border: none;
    // width: 32px;
    height: 32px;
    // margin-top: 7px;
    &.play-pause {
      background: rgb(253, 253, 253);
      border-radius: 50px;
      fill: #1d1a1a;

      .svg-play,
      .svg-pause {
        height: 20px;
        width: 20px;
        margin-top: 2.5px;
      }
    }

    @include for-mobile-layout {
      .unliked {
        display: none;
      }
    }
  }

  .left-side-container {
    display: flex;
    // flex-grow: 1;
    width: 100%;
    align-items: center;
    // justify-content: space-between;
    // color: rgb(172, 172, 172);

    @include for-mobile-layout {
      // justify-content: ;
      width: unset;
      flex: 1;
    }

    .p-container {
      // display: flex;
      // align-items: flex-start;
      // justify-content: start;
      // flex-direction: column-reverse;
      max-height: 75px;
      max-width: 165px;
      font-size: 14px;

      section {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        line-height: 1.25;

        span {
          overflow: hidden;
          height: 60px;
          font-size: 12px;
          text-overflow: ellipsis;
          // width: 70px;
          color: whitesmoke;
          white-space: pre-wrap;
        }
      }

      @include for-mobile-layout {
        // grid-area: 1/2/1/3;
        // flex-basis: 70%;
        // margin-left: 33px;
        font-size: 10px;
        margin-left: 7px;
        width: 80px;
      }
    }

    img {
      margin-right: 15px;
      width: 65px;
      height: 65px;
      object-fit: cover;
      object-position: center;
      border-radius: 4px;

      @include for-mobile-layout {
        margin: auto;
        border-radius: 5px;
        object-fit: cover;
        object-position: center;
        margin-left: 10px;
      }
    }

    .svg-love,
    .svg-mini-img {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

.middle-player-container {
  display: flex;
  // flex-grow: 2;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include for-mobile-layout {
    flex-direction: row-reverse;
    // justify-content: flex-end;
    flex: 3;
    // justify-content: unset;
  }

  .middle-controls-container {
    display: flex;
    align-items: center;
    // flex: 3;
    justify-content: center;
    width: 50vw;

    @include for-mobile-layout {
      width: unset;
      // flex: 1;
      // flex-basis: 30%;
      // margin-bottom: -16px;
    }
  }

  .middle-play-pause-controls {
    margin-left: 5px;
    margin-right: 5px;

    @include for-mobile-layout {
      // grid-area: 1/5/1/6;
      margin: 0;

      .play-pause {
        height: 40px;
        width: 40px;
      }
    }
  }
  .middle-left-controls,
  .middle-right-controls {
    margin-left: 5px;
    margin-right: 5px;

    @include for-mobile-layout {
      display: none;
    }
  }

  .svg-again {
    margin-left: 5px;

    @include for-mobile-layout {
      display: none;
    }
  }

  .svg-shuffle {
    margin-right: 5px;

    @include for-mobile-layout {
      display: none;
    }
  }

  .duration-progress-container {
    align-items: center;
    display: flex;
    gap: 35px;
    justify-content: center;
    // justify-content: space-between;
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
    font-weight: 200;
    width: 75%;

    @include for-mobile-layout {
      justify-content: unset;
      width: 180px;
    }

    time {
      font-family: circular;
      font-size: 13px;

      @include for-mobile-layout {
        display: none;
      }
    }

    input {
      width: 30vw;
      height: 4px;

      &:hover {
        cursor: pointer;
      }
    }
  }
  .duration-slider {
    color: gray;
    width: 70%;

    @include for-mobile-layout {
      // grid-area: 2/1/2/6;
      // flex-basis: 61%;
      width: 90%;
    }
    // padding: 0 50px;

    &:hover {
      color: $clr1;
    }
  }
}

.right-side-container {
  width: 100%;
  // flex-grow: 1;
  display: flex;
  justify-content: center;
  // margin-inline-end: 50px;

  .volume-container {
    width: 100%;
    display: flex;
    align-items: center;
    height: inherit;
    margin-right: 5px;
    justify-content: flex-end;
    input {
      height: 4px;
      width: 15vh;
    }
  }

  .volumn-slider {
    color: gray;
    width: 50%;

    &:hover {
      color: $clr1;
    }
  }
  @include for-mobile-layout {
    display: none;
  }
}

// RONA TRIED MOBILE FIRST -RESPONS

// .music-player-container {
//   position: fixed;
//   z-index: 50;
//   display: flex;
//   align-items: center;
//   border-top: 1px solid rgb(59, 59, 59);
//   justify-content: space-between;
//   // bottom: 0;
//   bottom: 100px;
//   height: 12vh;
//   width: 100vw;
//   background-color: #1d1a1a;
//   padding: 0 16px;
//   color: rgb(172, 172, 172);
//   fill: rgb(172, 172, 172);
//   padding: 45px;

//   .hide-to-moblie {
//     display: none;
//   }

//   @include for-wide-layout {
//     position: fixed;
//     z-index: 50;
//     display: flex;
//     align-items: center;
//     border-top: 1px solid rgb(59, 59, 59);
//     justify-content: space-between;
//     bottom: 0;
//     height: 12vh;
//     width: 100vw;
//     background-color: #1d1a1a;
//     padding: 0 16px;
//     color: rgb(172, 172, 172);
//     fill: rgb(172, 172, 172);
//     padding: 45px;

//     .hide-to-moblie {
//       display: inline-block;
//     }

//     .right-side-container {
//       display: flex;
//     }
//   }

//   svg {
//     transition: fill 300ms ease-in-out;
//   }

//   button {
//     background: transparent;
//     border: none;
//     width: 32px;
//     height: 32px;
//     &.play-pause {
//       background: rgb(253, 253, 253);
//       border-radius: 50px;
//       fill: #1d1a1a;

//       .svg-play,
//       .svg-pause {
//         height: 20px;
//         width: 20px;
//         margin-top: 2.5px;
//       }
//     }
//   }

//   .left-side-container {
//     display: flex;
//     width: 25vw;
//     align-items: center;

//     .p-container {
//       overflow: hidden;
//       height: 50px;
//       font-size: 14px;
//       section {
//         display: flex;
//         justify-content: flex-start;
//         align-items: center;
//       }
//     }

//     img {
//       margin-right: 15px;
//       width: 75px;
//       height: 65px;
//       background-position: center;
//       background-size: cover;
//       background-repeat: no-repeat;
//     }

//     .svg-love,
//     .svg-mini-img {
//       margin-left: 5px;
//       margin-right: 5px;
//     }
//   }
// }

// .middle-player-container {
//   // display: flex;
//   // flex-direction: column;
//   // justify-content: center;
//   // align-items: center;

//   .middle-controls-container {
//     // display: flex;
//     // align-items: center;
//     // justify-content: center;
//     // width: 50vw;

//     @include for-wide-layout {
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       width: 50vw;
//     }
//   }

//   .middle-left-controls,
//   .middle-right-controls,
//   .middle-play-pause-controls {
//     margin-left: 5px;
//     margin-right: 5px;
//   }

//   @include for-wide-layout {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//   }

//   .svg-again {
//     margin-left: 5px;
//   }

//   .svg-shuffle {
//     margin-right: 5px;
//   }

//   .duration-progress-container {
//     align-items: center;
//     display: flex;
//     gap: 50px;
//     justify-content: center;
//     // justify-content: space-between;
//     font-family: 'Times New Roman', Times, serif;
//     font-size: 12px;
//     font-weight: 200;
//     width: 70%;

//     time {
//       font-family: circular;
//       font-size: 13px;
//     }

//     input {
//       width: 30vw;
//       height: 4px;

//       &:hover {
//         cursor: pointer;
//       }
//     }
//   }
//   .duration-slider {
//     color: $clr1;
//     width: 70%;
//     // padding: 0 50px;
//   }
// }

// .right-side-container {
//   width: 25vw;
//   display: flex;
//   justify-content: flex-end;
//   align-items: center;

//   @include for-wide-layout {
//     display: flex;
//   }

//   .volume-container {
//     display: flex;
//     align-items: center;
//     input {
//       height: 4px;
//       width: 15vh;
//     }
//   }

//   .volumn-slider {
//     color: $clr1;
//     width: 50%;
//   }
// }
