.song-preview {
  display: grid;
  grid-template-columns: 16px 4fr 2fr minmax(120px, 1fr) 1fr;
  grid-gap: 16px;
  margin: 10px 0;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: content-box;

  .song-info {
    display: flex;
    gap: 10px;
  }

  img {
    max-width: 100px;
    margin-bottom: 10px;
  }
}
