.song-preview {
  display: grid;
  grid-template-columns: 16px 4fr 2fr minmax(120px, 1fr) 70px;
  grid-gap: 16px;
  align-items: center;
  margin: 10px 0;
  padding: 16px;
  // border-bottom: 1px solid #e5e5e5;
  box-sizing: content-box;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid transparent;
    border-radius: 4px;
  }

  .song-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .small {
    font-size: rem(14px);
  }

  .gray {
    color: #b3b3b3;
  }

  img {
    max-width: 75px;
    margin-bottom: 10px;
    object-fit: cover;
  }

  .play-btn {
    border: 0;
    color: rgba(255, 255, 255, 0.7);
    background: transparent;
    position: relative;
    right: 10px;
  }

  .song-actions {
    display: flex;

    // .like-btn {
    //   border: 0;
    //   color: rgba(255, 255, 255, 0.7);
    //   background: transparent;
    //   padding: 0;
    //   margin-right: 25px;
    // }

    .like-btn {
      border: 0;
      color: rgba(255, 255, 255, 0.7);
      background: transparent;
      padding: 0;
      margin-right: 25px;
      
      svg {
        fill: rgba(255, 255, 255, 0.7);
        &.liked {
          fill: #1DB954;
        }
      }
    }

    .remove-btn {
      border: 0;
      color: rgba(255, 255, 255, 0.7);
      background: transparent;
      font-size: 18px;
      padding: 0;
    }
  }
}
