.song-search {
  .add-song-container {
    display: inline-block;
    padding: 0 16px;

    .song-search-header {
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -0.04em;
      line-height: 28px;
      text-transform: none;
      color: rgb(255, 255, 255);
      margin-bottom: 16px;
      margin-top: 10px;
    }

    .song-search-input-container {
      position: relative;
      input {
        background-color: rgba(255, 255, 255, 0.1);
        border: 0px;
        border-radius: 4px;
        color: rgba(255, 255, 255, 0.7);
        height: 40px;
        opacity: 1;
        padding: 8px 32px;
        text-overflow: ellipsis;
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(0.3, 0, 0.4, 1);
        width: 100%;
        &::placeholder {
          font-size: 14px;
          font-family: circular;
          color: white;
        }
      }
    }
  }
}
