.song-preview {
  display: grid;
  // grid-template-columns: 16px 4fr 2fr minmax(120px, 1fr) 70px;
  // grid-template-columns: 16px 4fr 2fr minmax(120px, 1fr);
  grid-template-columns: 16px 4fr 2fr 150px;
  grid-gap: 16px;
  align-items: center;
  margin: 2px 0;
  padding: 8px;
  box-sizing: content-box;

  @include for-mobile-layout {
    grid-template-columns: 9px 1fr 40px;
    grid-template-rows: none;
    grid-gap: 20px;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
  }

  .song-info {
    display: flex;
    align-items: center;
    gap: 10px;

    .song-info-img {
      width: 40px;
      height: 40px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @include for-mobile-layout {
          width: 60px;
        }
      }
    }

    @include for-mobile-layout {
      display: flex;

      .song-name-h4 {
        h4 {
          // font-weight: 10px;

          @include for-mobile-layout {
            margin-left: 30px;
            font-size: 14px;
          }
        }
      }
    }
  }

  .small {
    font-size: rem(14px);
  }

  .gray {
    color: #b3b3b3;
  }

  // img {
  //   max-width: 75px;
  //   margin-bottom: 10px;
  //   object-fit: cover;
  //   border-radius: 4px;
  //   @include for-mobile-layout {
  //     width: 60px;
  //     height: 60px;
  //     padding-right: 9px;
  //   }
  // }

  .play-btn,
  .pause-btn {
    border: 0;
    color: rgba(255, 255, 255, 0.7);
    background: transparent;
    position: relative;
    right: 10px;
  }

  .song-actions {
    display: flex;
    align-items: center;
    // padding-left: 10%;

    .like-btn {
      border: 0;
      color: rgba(255, 255, 255, 0.7);
      background: transparent;
      padding: 0;
      margin-right: 25px;

      svg {
        fill: rgba(255, 255, 255, 0.7);
        &.liked {
          fill: $clr1;
        }
      }
    }

    svg {
      fill: rgba(255, 255, 255, 0.702);

      &.liked {
        fill: $clr1;
      }
    }

    .remove-btn {
      border: 0;
      color: rgba(255, 255, 255, 0.7);
      background: transparent;
      font-size: 18px;
      padding: 0;
      margin-left: 20px;
    }
    @include for-mobile-layout {
      grid-area: 1/3/1/4;
    }
  }

  @include for-mobile-layout {
    .hide-mobile-songpreview {
      display: none;
    }
  }
}
