.song-list {
  margin: 0;
  max-width: 1955px;
  padding: 0 16px;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: 0;
  // padding-bottom: 120px;

  .song-list-head {
    border-bottom: 1px solid transparent;
    box-sizing: content-box;
    height: 36px;
    margin: 0 -16px 8px;
    // padding: 0 32px;
    padding: 0 24px;
    top: 64px;
    z-index: 2;
    display: grid;
    // grid-template-columns: 16px 4fr 2fr minmax(120px, 1fr) 70px;
    // grid-template-columns: 16px 4fr 2fr minmax(120px, 1fr);
    grid-template-columns: 16px 4fr 2fr 150px;
    grid-gap: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: #b3b3b3;
  }

  @include for-mobile-layout {
    margin-bottom: 50px;

    .hide-mobile-songlist {
      display: none;
    }
  }
}
