.station-actions {
  display: flex;
  align-items: center;
  padding: 24px;

  .play-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 500px;
    margin-right: 32px;
    position: relative;
    background-color: #1db954;
    color: #fff;
    height: 60px;
    min-width: 60px;
    padding: 0;
  }

  .like-btn {
    display: flex;
    padding: 0;
    border: 0;
    margin-right: 24px;
    color: rgba(255, 255, 255, 0.7);
    background: transparent;

    svg {
      fill: rgba(255, 255, 255, 0.7);
      &.liked {
        fill: #1DB954;
      }
    }
  }

  .open-search {
    background: transparent;
    border: 0;
    color: rgba(255,255,255,.6);
    font-size: rem(30px);

    &::first-child {
        color: red;
    }
  }
}
