.default-station-list {
  background-color: $clr7;
  // display: grid;
  // //   grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  // grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  // grid-gap: 24px;
  padding: 0 0 10px 32px;

  @include for-mobile-layout {
    padding: 0 0 16px 16px;
  }
  .section-station {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    min-height: 300px;
    min-width: 100%;
    position: relative;

    @include for-mobile-layout {
      margin-bottom: 12px;
    }
    // .switchLeft {
    //   position: absolute;
    //   left: -30px;
    // }

    // .switchRight {
    //   position: absolute;
    //   right: -1px;
    // }

    .section-head {
      align-items: flex-end;
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;
      // margin-top: 41px;

      @include for-mobile-layout {
        margin-top: 0;
      }
    }

    .section-content {
      display: grid;
      grid-auto-flow: column;
      gap: 30px;
      overflow-x: auto;
      overscroll-behavior-x: contain;
      scroll-snap-type: x proximity;
      margin-right: 50px;

      @include for-mobile-layout {
        grid-template-columns: min-content;
      }

      &::-webkit-scrollbar {
        background-color: #1d1a1a;
        width: 2px;
        height: 10px;
      }

      &::-webkit-scrollbar-track {
        --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $clr8;
        border-radius: 10px;

        --webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
        // transition: 500ms color ease-in;
      }

      &::-webkit-scrollbar-thumb:hover {
        // background-color: gainsboro;
        background-color: #282828;
      }
    }

    .station-content {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 200px;
      font-weight: 300;
      line-height: 1.2;
      letter-spacing: -0.5px;
    }
  }
}
