.station-preview {
  padding: 16px;
  transition: background-color 0.3s ease;
  border-radius: 4px;
  background-color: $clr8;
  transition: transform 0.2s ease 0s;
  margin-bottom: 20px;

  img {
    margin-bottom: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    // min-width: 200px;
    // max-width: 200px;
    // min-height: 200px;
    // max-height: 200px;
    width: 100%;
    height: 200px;
  }

  .station-content {
    min-height: 62px;

    h2 {
      vertical-align: middle;
      line-height: 24px;
      font-size: rem(22px);
      font-weight: 700;
    }

    .station-info {
      -webkit-box-orient: vertical;
      display: -webkit-box;
      margin-top: 4px;
      text-overflow: ellipsis;
      color: rgb(179, 179, 179);
    }
  }

  .station-img-container {
    position: relative;

    .station-play-btn {
      position: absolute;
      border-radius: 500px;
      z-index: 10;
      bottom: 10px;
      right: 10px;
      box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
      background-color: inherit;
      overflow: hidden;
      transition: all 0.3s ease;
      opacity: 0;

      button {
        display: flex;
        background-color: #1db954;
        color: #fff;
        border: 0;
        align-items: center;
        justify-content: center;
        border-radius: 500px;
        height: 50px;
        width: 50px;
        transition: transform 33ms cubic-bezier(0.3, 0, 0, 1),
          -webkit-transform 33ms cubic-bezier(0.3, 0, 0, 1);
      }
    }
  }

  &:hover {
    background-color: #282828;
    cursor: pointer;
    opacity: 1;

    .card-link {
      pointer-events: none;
    }

    .station-play-btn {
      transform: translateY(-50%);
      opacity: 1;
    }
  }
}
