.default-station-list {
  background-color: $clr7;
  // display: grid;
  // //   grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  // grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  // grid-gap: 24px;
  padding: 0 0 32px 32px;

  @include for-mobile-layout {
    padding: 0 0 16px 16px;
  }
  .section-station {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    min-height: 300px;
    min-width: 100%;
    position: relative;

    @include for-mobile-layout {
      margin-bottom: 12px;
    }
    // .switchLeft {
    //   position: absolute;
    //   left: -30px;
    // }

    // .switchRight {
    //   position: absolute;
    //   right: -1px;
    // }

    .section-head {
      align-items: flex-end;
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;
      margin-top: 41px;
    }

    .section-content {
      /*RONA*/
      // display: grid;
      // grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
      // grid-gap: 24px;

      //* SCROLL
      // grid-auto-flow: column;
      // grid-auto-columns: minmax(230px, 1fr);
      // overflow-x: auto;

      // TRYING LIKE NETFILIX
      // height: 25px;
      // width: auto;
      // overflow: scroll;
      // white-space: nowrap;
      // display: inline-block;
      // text-align: center;
      // padding-bottom: 10px !important;
      // display: flex;
      // align-items: center;

      // ---gap: 2.5rem;

      display: grid;
      grid-auto-flow: column;
      // grid-auto-columns: var(---size);
      gap: 30px;
      // padding-inline: var(--gap);
      // padding-block-end: var(--gap);

      overflow-x: auto;
      overscroll-behavior-x: contain;
      scroll-snap-type: x proximity;
      // scroll-padding-inline-start: var(--gap);

      &::-webkit-scrollbar {
        background-color: #1d1a1a;
        width: 2px;
        height: 10px;
      }

      &::-webkit-scrollbar-track {
        --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $clr8;
        border-radius: 10px;

        --webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
        // transition: 500ms color ease-in;
      }

      &::-webkit-scrollbar-thumb:hover {
        // background-color: gainsboro;
        background-color: #282828;
      }
    }

    .station-content {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 200px;
      font-weight: 300;
      line-height: 1.2;
      letter-spacing: -0.5px;
    }
  }
}
