.user-preview {
  // -webkit-box-flex: 1;
  background: rgb(37, 37, 37);
  background: linear-gradient(
    0deg,
    rgba(37, 37, 37, 1) 0%,
    rgba(43, 43, 43, 1) 24%,
    rgba(74, 74, 74, 1) 43%,
    rgba(68, 68, 68, 1) 75%,
    rgba(84, 84, 84, 1) 93%
  );
  border-radius: 4px;
  // -ms-flex: 1;
  // flex: 1;
  isolation: isolate;
  padding: 16px;
  position: relative;
  // -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  width: 100%;
  .user-info {
    // text-align: start;
    text-align: center;
    // width: fit-content;
    .user-img {
      // width: 100%;
      height: 70%;
      position: relative;

      img {
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
      }
    }

    .user-name-follow {
      display: inline-block;
      max-width: 100%;
      vertical-align: auto;

      /* Chrome, Safari, Opera */
      @-webkit-keyframes follow-animation {
        from {
          background: white;
          color: $clr1;
          width: 85px;
          left: 50px;
        }
        to {
          background: #2eb82e;
          border-color: #2eb82e;
          color: #ffffff;
          width: 120px;
          left: 35px;
        }
      }
      @-webkit-keyframes unfollow-animation {
        from {
          background: #2eb82e;
          color: #ffffff;
          width: 120px;
          left: 35px;
        }
        to {
          background: white;
          border-color: $clr1;
          color: $clr1;
          width: 85px;
          left: 50px;
        }
      }

      /* Standard syntax */
      @keyframes follow-animation {
        from {
          background: white;
          color: $clr1;
          width: max-content;
          left: 50px;
        }
        to {
          background: $clr1;
          border-color: $clr1;
          color: #ffffff;
          width: max-content;
          left: 35px;
        }
      }
      @keyframes unfollow-animation {
        from {
          background: $clr1;
          color: #ffffff;
          width: max-content;
          left: 35px;
        }
        to {
          background: white;
          border-color: $clr1;
          color: $clr1;
          width: max-content;
          left: 50px;
        }
      }
    }
  }

  input {
    -webkit-appearance: none;
  }

  input:after {
    color: $clr1;
    font-family: circular;
    // font-size: 10pt;
    background-color: #ffffff;
    border: 1px solid;
    border-color: $clr1;
    border-radius: 3px;
    // position: absolute;
    // top: 50px;
    // left: 50px;
    cursor: hand;
    display: inline-block;
    text-align: center;
    padding: 5px 15px;

    content: "Follow";
    -webkit-animation: unfollow-animation 0.3s
      cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-animation-fill-mode: forwards;
    animation: unfollow-animation 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: forwards;
  }

  input:checked:after {
    content: "Following";
    -webkit-animation: follow-animation 0.3s
      cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-animation-fill-mode: forwards;
    animation: follow-animation 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: forwards;
  }
}
