.liked-songs-page {
  .header-container {
    background-color: linear-gradient(transparent 0, rgba(0, 0, 0, 0.5) 100%);
    height: 30vh;
    max-height: 500px;
    min-height: 340px;
    display: flex;
    // display: block;
    height: 100%;
    left: 0;
    // position: absolute;
    top: 0;
    width: 100%;

    .header-img {
      align-self: flex-end;
      height: 192px;
      margin-inline-end: 24px;
      min-width: 192px;
      width: 192px;

      .img {
        display: flex;
        height: inherit;
        position: relative;
        right: -35px;
      }
    }
    // .header-img {
    //   display: flex;
    //   height: inherit;
    //   position: relative;
    // }

    .header-info {
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
      z-index: 0;
      padding-left: 40px;

      h1 {
        font-size: 80px;
        margin: 0;
        letter-spacing: -0.04em;
      }
    }
  }

  .gray {
    color: rgb(179, 179, 179);
  }

  .actions {
    align-items: flex-start;
    flex-direction: column;
    overflow-x: auto;
    padding-bottom: 24px;
    padding-top: 24px;
    padding-left: 40px;

    .play-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0;
      border-radius: 500px;
      margin-right: 32px;
      position: relative;
      background-color: #1db954;
      color: #fff;
      height: 60px;
      min-width: 60px;
      padding: 0;
    }
  }

  .liked-songs-list-container {
    button {
      border: 0;
      color: rgba(255, 255, 255, 0.7);
      background: transparent;
      padding: 0;
      margin-right: 25px;
      padding-left: 40px;
    }

    svg {
      fill: #1db954;

      &.unliked {
        fill: rgba(255, 255, 255, 0.7);
      }
    }
  }

  .song-list-head {
    border-bottom: 1px solid transparent;
    box-sizing: content-box;
    height: 36px;
    margin: 0 -16px 8px;
    padding: 0 32px;
    // position: sticky;
    top: 64px;
    z-index: 2;
    display: grid;
    grid-template-columns: 16px 4fr 2fr minmax(120px, 1fr) 70px;
    grid-gap: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: #b3b3b3;
  }

}
