.main-container {
  position: static;
  height: 100%;
  min-height: 100vh;
  padding-top: 60px;
  padding-bottom: 100px;
  width: 100vw;
  color: whitesmoke;
  // background: linear-gradient(#16351d , black 50%);
  background: linear-gradient(#16351d , black 70%);

  &::-webkit-scrollbar {
    background-color: rgb(58, 58, 58);
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(128, 127, 127);
    border-radius: 10px;
    --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    // transition: 500ms color ease-in;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: gainsboro;
  }
}

// /* width */
// &::-webkit-scrollbar {
//   width: 10px;
// }

// /* Track */
// &::-webkit-scrollbar-track {
//   background: #f1f1f1;
// }

// /* Handle */
// &::-webkit-scrollbar-thumb {
//   background: #888;
// }

// /* Handle on hover */
// &::-webkit-scrollbar-thumb:hover {
//   background: #555;
// }
