.symbol {
  display: flex;
  color: gray;
  align-items: center;
  // border: 2px solid red;

  p {
    margin-left: 15px;
    transition: 200ms color ease-in;
  }

  .fas {
    font-size: 12px;
    margin-left: 5px;
    color: gray;
  }

  &:hover {
    color: white;
  }
}
// .nav-bar-options {
// }
