.nav-bar {
  // position: sticky;
  // left: 0;
  // top: 0;
  // z-index: 2;
  // height: 100vh;
  // width: 100vw;
  // min-width: 140px;
  // max-width: 200px;
  color: whitesmoke;
  background-color: #1d1a1a;
  position: absolute;
  top: -10px;

  .nav-bar-list {
    position: fixed;
    bottom: 0;
    display: flex;
    gap: 35px;
    justify-content: center;
    align-items: center;
    background-color: #1d1a1a;
    z-index: 100;
    width: 100%;
    height: 80px;

    .nav-bar-options {
      display: none;
    }

    .symbol {
      font-size: rem(24px);
    }

    .active > li {
      color: #1db954;
    }
  }

  .lg-menu,
  .logo {
    display: none;
  }


  @include for-wide-layout {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 2;
    height: 100vh;
    width: 100vw;
    // min-width: 140px;
    max-width: 200px;

    .nav-bar-list {
      position: sticky;
      display: inline-block;
      justify-content: flex-start;
      align-items: stretch;

      .nav-bar-options {
        display: inline-block;
      }

      .symbol {
        font-size: rem(18px);
        width: 26px;
      }
    }

    .lg-menu,
    .logo {
      display: inline-block;
    }
  }

  // .active > li {
  //   color: #1db954;
  // }

  li {
    display: flex;
    align-items: center;
    width: fit-content;
    padding-left: 15px;
    list-style-type: none;
    gap: 5px;
    // font-size: 0.755rem;
    letter-spacing: 0.55px;
    color: gray;
    transition: color 300ms ease-in-out;
    margin: 10px 0;

    p {
      margin: 0;
    }
  }

  li:hover {
    cursor: pointer;
    color: white;
  }

  .liked:hover {
    color: rgb(15, 204, 56);
  }

  > hr {
    border: 1px solid #282828;
    width: 90%;
    margin: 10px auto;
  }

  .nav-bar__title {
    text-transform: uppercase;
    margin-left: 14px;
    // padding-left: 10px;
    font-size: 12px;
    font-size: 14px;
  }

  .symbol {
    font-size: rem(18px);
    width: 26px;
  }
}
