.nav-bar {
  // position: absolute;
  left: 0;
  padding-left: 10px;
  padding-right: 10px;
  height: 100vh;
  min-width: 230px;
  flex: 0.17;
  color: whitesmoke;
  background-color: #1d1a1a;
}

.nav-bar > hr {
  border: 1px solid #282828;
  width: 90%;
  margin: 10px auto;
}

.nav-bar__logo {
  margin: auto;
  width: 100%;
  //   height: auto;
}

.nav-bar__title {
  text-transform: uppercase;
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
  font-size: 14px;
}

.symbol {
  display: flex;
  margin-left: 10px;
}
