// .tag-list {
//   .tag-title {

//   }
// }

.cards-container {
  display: grid;
  justify-content: center;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(205px, 205px));
  grid-template-rows: repeat(auto-fit, minmax(205px, 205px));
  margin-top: 40px;
  margin-bottom: 30px;
}

.tag-title {
  font-family: circular;
  margin-top: 40px;
  margin-left: 70px;
}
