.cards-container {
  display: grid;
  justify-content: center;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(205px, 205px));
  grid-template-rows: repeat(auto-fit, minmax(205px, 205px));
}
