@font-face {
  font-family: gotham;
  src: url("../../fonts/gotham/GothamMedium.ttf");
}

@font-face {
  font-family: circular;
  src: url("../../fonts/Circular/CircularStd-Medium.otf");
}

@font-face {
  font-family: circular-bold;
  src: url("../../fonts/Circular/CircularStd-Bold.otf");
}
