.create-playlist {
  // border: 2px solid blue;
  height: 100%;

  .search-in-playlist-container {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 24px;
    padding: 24px 0px;
  }

  .song-search-header {
    margin-top: 6px;
    margin-left: 21px;
    font-size: 24px;
  }
}
