:root {
  --minimumColumnWidth: 180px;
}

.friends {
  gap: 24px;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--minimumColumnWidth), 180px)
  );
  padding: 30px;
  justify-content: start;

  @include for-mobile-layout {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 180px));
    gap: 16px;
    margin-bottom: 40px;
  }
}
