:root {
  --minimumColumnWidth: 1500px;
}

.friends {
  grid-gap: 24px;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--minimumColumnWidth), 180px)
  );
  padding: 30px;
  justify-content: start;
}
