:root {
  --color: #1db954;
}

.welcome-page {
  padding: 0;
  margin: 0;

  header {
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    position: relative;
    background: #333333;
    color: white;

    ul {
      // margin: 10px;
      margin: 0 10px;
      display: flex;
      flex-direction: row;
      list-style: none;
      padding: 10px;
    }

    li {
      // margin-right: 35px;
      margin-left: 35px;
      transition: color 300ms ease-in-out;

      &:hover {
        cursor: pointer;
        color: var(--color);
      }
    }

    @include for-wide-layout {
      ul {
        margin: 10px;
      }

      li {
        margin-right: 35px;
      }
    }
  }

  .hero {
    // z-index: 2;
    position: relative;
    background: #1d1a1a;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .content {
      // font-family: audiowide, cursive;
      z-index: 2;
      // max-width: 600px;
      // margin: 0 auto;
      // padding: 0 20px;

      h2 {
        position: relative;
        font-family: audiowide, cursive;
        font-size: 4.5rem;
        font-weight: 600;
        margin: 0 0 10px;
        line-height: 1;
        color: var(--color);

        @include for-mobile-layout {
          font-size: 4rem;
        }
      }

      p {
        // font-size: 16px;
        text-align: center;
        position: relative;
        // z-index: 1;
        font-size: 1.1rem;
        color: rgba(255, 255, 255, 0.5);
        line-height: 1.4;
      }
    }

    @include for-wide-layout {
      .content {
        max-width: 600px;
        margin: 0 auto;
        padding: 0 20px;
      }
    }
  }

  .hero-btn {
    z-index: 2;
    margin-bottom: 55px;
    position: relative;
    font-family: inherit;
    font-size: 15px;
    // font-size: 400;
    border: none;
    border-radius: 18px;
    background-color: var(--color);
    color: #333333;
    height: 40px;
    width: 200px;
    transition: color 200ms ease-in-out;
    font-family: circular;

    &:hover {
      color: white;
    }
  }
}

/* ========================= */

.waves {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 225px;
  background-color: var(--color);
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 500ms;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 300vw;
    height: 300vw;
    top: -65vw;
    left: 50%;
    transform: translate(-50%, -75%);
  }

  &::before {
    border-radius: 44%;
    background: rgba(51, 51, 51, 1);
    animation: waves 8s linear infinite;
  }

  &::after {
    border-radius: 44%;
    background: rgba(51, 51, 51, 0.5);
    animation: waves 15s linear infinite;
  }
}
@keyframes waves {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
