:root {
  --clr: gold;
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: lighten($clr1, 20%);
  color: $clr6;
}

html {
  font-family: circular, serif;
  line-height: 2;
}

body {
  overflow-y: scroll;
  margin: 0;

  &::-webkit-scrollbar {
    background-color: rgb(58, 58, 58);
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(128, 127, 127);
    border-radius: 10px;
    --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    // transition: 500ms color ease-in;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: gainsboro;
  }
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin: 0 0 em(20px, 50px);
  font-family: circular-bold, sans-serif;
  font-weight: 400;
}

h1 {
  font-size: rem(50px);
}

p {
  margin: 0 0 1em;
  max-width: 50ch;
}

ul {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
